:root {
  --color-00: #fff;
  --color-02: #f7f7f7;
  --color-03: #ececec;
  --color-04: #cdcdcd;
  --color-06: #8f8f8f;
  --color-10: #222;
  --color-11: #0f0f0f;
  --color-12: #000;
  --pr-color-04: #ffff8c;
  --pr-color-06: #fffe00;
  --pr-color-07: #dac400;
  --pr-color-12: #100c00;
}
