.font-1-xs {
  font: 600 0.75rem/1.33 "Poppins", sans-serif;
}

.font-2-xs {
  font: 400 0.875rem/1.25 "Roboto", sans-serif;
}

.font-1-s {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.font-2-s {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.font-1-m {
  font: 400 1.125rem/1.33 "Poppins", sans-serif;
}

.font-1-m-b {
  font: 600 1.125rem/1.33 "Poppins", sans-serif;
}

.font-2-m {
  font-weight: 500;
  font-size: calc(0.75rem + (1.5 - 0.75) * (100vw - 30rem) / (120 - 30));
  line-height: 1.33;
  font-family: "Roboto", sans-serif;
}

.font-1-l {
  font-weight: 400;
  font-size: calc(0.75rem + (1.5 - 0.75) * (100vw - 40rem) / (120 - 40));
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.font-2-l {
  font-weight: 400;
  font-size: calc(1rem + (1.5 - 1) * (100vw - 40rem) / (120 - 40));
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.font-2-l-b {
  font-weight: 500;
  font-size: calc(0.75rem + (1.5 - 0.75) * (100vw - 40rem) / (120 - 40));
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.font-1-xl {
  font-weight: 600;
  font-size: calc(1rem + (2 - 1) * (100vw - 40rem) / (120 - 40));
  line-height: 1.25;
  font-family: "Poppins", sans-serif;
}

.font-1-xxl {
  font-size: calc(2rem + (4 - 2) * (100vw - 40rem) / (120 - 40));
  line-height: 1.125;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
